html {
  --gray-div-color: #EEEEEE;
}

#contactMeSection {
  background-color: var(--gray-footer-color);
  margin-bottom: -50px;
  height: auto;
  overflow: hidden;
  padding-bottom: 70px;
}

#contactSectionHeaderDiv {
  padding-top: 2.5rem;
}

.sectionHeaderTextDiv {
  width: 80%;
  margin: 0 auto;
}

#contactHeaderDiv {
  margin-top: 0.5rem;
}

.contactMeInfo {
  background-color: gray;
  padding: 10px;
  text-align: center;
  border: 2px solid;
  border-color: black;
  border-radius: 15px;
  font-size: 3rem;
  height: 200px;
}

#contactMeForm {
  width: 100%;
}

#contactMeForm label{
  font-weight: bolder;
  font-size: 1.2rem;
}

#contactMeFormName {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

#contactMeFormEmail {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

#contactMeFormSubject {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

#contactMeFormMessage {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  resize: none;
}

#contactMeFormSubmit{
  width: 100%;
  border: 5px solid #FF4500;
  border-radius: 15px;
  padding: 15px;
  background-color: #FF4500;
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}

#contactMeFormSubmit:hover{
  background-color: white;
  color: #FF4500;
  cursor: pointer;
}
