#experienceSection {
  margin-top: 0px;
  height: auto;
  overflow: hidden;
  padding-bottom: 100px;
  background-color: var(--gray-div-color);
}

#experienceSectionHeaderDiv {
  padding-top: 2.5rem;
}

.experienceInstance {
  background-color: none;
}

.experienceSectionHeaderText {
  text-align: center;
  color: black;
  border: 4px solid;
  border-color: black;
  border-radius: 10px;
  font-size: 20px;
}
